@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 209 40% 96%;
        --foreground: 222 47% 11%;
        --card: 210 40% 98%;
        --card-foreground: 222 47% 11%;
        --popover: 214 31% 91%;
        --popover-foreground: 222 47% 11%;
        --primary: 200 98% 39%;
        --primary-foreground: 204 100% 97%;
        --secondary: 215 24% 26%;
        --secondary-foreground: 210 40% 98%;
        --muted: 215 20% 65%;
        --muted-foreground: 222 47% 11%;
        --accent: 210 40% 98%;
        --accent-foreground: 215 19% 34%;
        --destructive: 0 72% 50%;
        --destructive-foreground: 0 85% 97%;
        --border: 212 26% 83%;
        --input: 212 26% 83%;
        --ring: 200 98% 39%;
        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}